.title-float-left {
    float: left;
}

.title-float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.separate-line {
    color: #000000;
    border: 0;
    border-top: 1px solid;
}

#thingmark {
    margin: auto;
    display: block;
    text-align: center;
}